* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: rgba(15, 7, 54, 0.905);
    color: white;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background: linear-gradient(rgba(4, 4, 31, 0.8), rgba(57, 57, 106, 0.8));
    position: fixed;
}

nav .left {
    font-size: 2.4rem;
    color: #bcb9ee;
    box-shadow: 0 4px 8px 0 rgba(34, 33, 33, 0.2), 0 6px 20px 0 rgba(31, 30, 30, 0.19);
}

nav .left:hover {
    color: blueviolet;
}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 28px;
}

nav ul li a {
    text-decoration: none !important;
    color: #bcb9ee !important;
    font-size: 1.6rem !important;
    cursor: pointer !important;
    border: 1px solid #bcb9ee !important;
    border-radius: 6px !important;
    padding: 12px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

nav ul li a:hover {
    color: rgb(153, 153, 226) !important;
    text-decoration: underline !important;
}

main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 130px 0;
    align-items: center;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 3.3rem !important;
    margin: 70px 0 !important;
}

.leftSection .buttons {
    padding: 50px 0 !important;
}

.leftSection .btn {
    padding: 12px !important;
    background-color: #9c97f1 !important;
    color: white !important;
    border: 2px solid white !important;
    border-radius: 6px !important;
    font-size: 20px !important;
    cursor: pointer !important;
}

.leftSection .btn a {
    text-decoration: none;
    color: white;
}

.rightSection {
    position: relative;
    height: 500px;
    width: 500px;
    background: rgba(0, 0, 0, 0.5) !important;
    border-radius: 50%;
    overflow: hidden;

}

.rightSection::before {
    content: '';
    position: absolute;
    inset: -10px -140px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}


.foot {
    height: 820px;
}

.rightSection:hover::before {
    inset: -20px 0px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rightSection::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: #162052;
    border-radius: 50%;
    z-index: 1;
}

.content {
    position: absolute;
    inset: 30px;
    border: 6px solid #070a1c;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content img {

    position: absolute;
    top: 8;
    left: 0;
    padding-top: 6px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}

.rightSection:hover .content img {
    opacity: 0;
}

.content a {
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: #fff;
    color: #070a1c;
    border-radius: 25px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
    text-decoration: none;
    transition: 0.5s;
}

.content a:hover {
    letter-spacing: 0.2em;
}

.purple {
    color: rgb(153, 71, 230);
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondSection h1 {
    font-size: 1.9rem;
}

.text-gray {
    color: gray;
}

#element {
    color: rgb(170, 107, 228);
}

.secondSection .box {
    background: white;
    width: 77vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}


.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: #ffffff;
    margin: 0 120px;

}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;

}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 25px;
}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 19px;
}

.footer_primary {
    margin-top: 3.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.footer_primary ul li {
    margin-top: 2.2rem;
    font-size: 1.2rem;
    margin-left: 19px;
    margin-right: 9px;
}

.p {
    text-align: center;
    padding-top: 4.1rem;
    padding-bottom: 11px;
    font-size: 2.9rem;
    color: #bcb9ee;
}

.hr1 {
    color: #bcb9ee !important;
}

.p-box {
    margin-bottom: 148px;

}

.p1-box {
    background: linear-gradient(315deg, #087e9c, #822582);
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 6px;
    width: 78%;
    height: 280px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
}

.p1-box:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}



.text-design {
    font-size: 1.6rem;
    color: #bcb9ee;

}

.fa-brands.fa-html5.fa-2xl {
    background-color: rgb(181, 16, 16);
}



.hr {
    width: 172px;
    background-color: white;
    margin: 0 auto;

}

footer {
    background-color: rgb(47, 47, 56);
}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgba(34, 33, 33, 0.2), 0 6px 20px 0 rgba(31, 30, 30, 0.19);
    height: 222px;
}

.footer_primary ul li a {
    color: white;
    text-decoration: none;
}

.footer_primary ul li a:hover {
    text-decoration: underline;
}

.footer ul {
    list-style: none;
    padding: 14px;
    box-shadow: 0 4px 8px 0 rgba(34, 33, 33, 0.2), 0 6px 20px 0 rgba(31, 30, 30, 0.19);

}

.footer-first ul {
    padding-top: 0.2px;
    padding-bottom: 0.2px;

}

.footer-first ul li a {
    color: white;

}

footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px;
}
